<div class="container">

<footer class="footer">

<small>

Copyright © <a href="https://www.facebook.com/the1wonder">My FaceBook Padge</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>
